<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding mt-4">
  <div class="container">
    <div class="footer_section_2">
      <div class="row">
        <div class="col">
          <h4 class="footer_taital">Mau paket wisata yang lebih lengkap?</h4>
          <p class="lorem_text">Hubungi kami di kontak</p>
        </div>
        <div class="col">
          <h4 class="footer_taital">Kontak Kami</h4>
          <div class="location_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
                class="padding_left_15"></span>Jl. Cirebon </a></div>
          <div class="location_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
                class="padding_left_15">08522369417</span></a></div>
          <div class="location_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
                class="padding_left_15">08522369417</span></a></div>
          <div class="location_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span
                class="padding_left_15">demo@gmail.com</span></a></div>
          <div class="social_icon">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <h4 class="footer_taital">Bank Transfer</h4>
          <p class="lorem_text">273.4543.2342-3453 </p>
          <p class="lorem_text">a/n CV Setiadi Trans</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright_text">2024 All Rights Reserved. Build by <a href="https://blendinnovation.com" target="_blank">Blend Innovation</a></p>
      </div>
    </div>
  </div>
</div>