<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footeer_logo">
          <img style="height: 120px" alt="logo" src="/assets/images/logo.png" />
        </div>
      </div>
    </div>
    <div class="footer_section_2">
      <div class="row">
        <div class="col">
          <h4 class="footer_taital">Mau paket wisata yang lebih lengkap?</h4>
          <p class="lorem_text">Hubungi kami di kontak</p>
        </div>
        <div class="col">
          <h4 class="footer_taital">Kontak Kami</h4>
          <div class="location_text">
            <a href="https://maps.app.goo.gl/85L2xfSvXJ3TuVRm9" target="_blank"><i class="fa fa-map-marker"
                aria-hidden="true"></i><span class="padding_left_15"></span>l. Sultan Hasanudin No.05
              Blok Mukhidin Rt.04 Rw.01 (Samping Polresta) Kel.Tukmudal
              Kec.Sumber Kab.Cirebon</a>
          </div>
          <div class="location_text">
            <a href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank"><i
                class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">087743623444</span></a>
          </div>
          <div class="location_text">
            <a href="https://wa.me/6289697774974?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank"><i
                class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">089697774974</span></a>
          </div>
        </div>
        <div class="col">
          <h4 class="footer_taital">Bank Transfer</h4>
          <p class="lorem_text">Bank Mandiri 1340010417987</p>
          <p class="lorem_text">a/n Handhi Setiadi</p>
          <p class="lorem_text mt-4">Bank BCA</p>
          <p class="lorem_text">1343077401</p>
          <p class="lorem_text">a/n Handhi Setiadi</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="social_icon">
          <ul>
            <li>
              <a href="https://www.instagram.com/travelsetiaditransjaya"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>
              <a href="https://www.tiktok.com/@travelsetiaditransjaya" style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16px" height="16px" viewBox="0 0 24 24"
                  xml:space="preserve">
                  <path
                    d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z" />
                </svg>
                </i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright_text">
          2024 All Rights Reserved. Build by
          <a href="https://blendinnovation.com" target="_blank">Blend Innovation</a>
        </p>
      </div>
    </div>
  </div>
</div>