<!-- header section start -->
<div class="header_section shadow">
  <div class="call_text_main" id="home">
    <div class="container">
      <div class="call_taital">
        <div class="call_text">
          <a href="#"
            ><i class="fa fa-map-marker" aria-hidden="true"></i
            ><span class="padding_left_15">Travel Door to Door</span></a
          >
        </div>
        <div class="call_text">
          <a
            href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil"
            ><i class="fa fa-phone" aria-hidden="true"></i
            ><span class="padding_left_15">087743623444</span></a
          >
        </div>
        <div class="call_text_ig">
          <a href="https://www.instagram.com/travelsetiaditransjaya"
            ><i class="fa fa-instagram" aria-hidden="true"></i
            ><span class="padding_left_15">@travelsetiaditransjaya</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html" style="color: black"
        ><img
          style="height: 68px; margin-right: 8px; vertical-align: bottom"
          alt="logo"
          src="/assets/images/logo.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tentang-kami">Tentang Kami</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/layanan-kami">Layanan Kami</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#cars">Mobil</a>
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil"
              target="_blank"
              >Kontak Kami</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"></form>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
