<!-- header section start -->
<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1><a  class="navbar-brand" href="index.html" style="color: white;"><img style="height: 38px; margin-right: 8px; vertical-align: bottom;"  alt="logo" src="/assets/images/logo.png">CV Setiadi Trans</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a  class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#about">Tentang Kami</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#cars">Mobil</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank">Kontak Kami</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->