---
layout: default
---

<!-- header section end -->
<div class="call_text_main" id="home">
  <div class="container">
    <div class="call_taital">
      <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
            class="padding_left_15">Jl.Cirebon</span></a></div>
      <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
            class="padding_left_15">08522369417</span></a></div>
      <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span
            class="padding_left_15">demo@gmail.com</span></a></div>
    </div>
  </div>
</div>
<!-- banner section start -->
<div class="banner_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="banner_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="banner_taital_main">
                <h1 class="banner_taital">Rental <br><span style="color: #F28005;">Mobil <br>Harian</span></h1>
                <p class="banner_text">Cari disini mobil sesuai kebutuhanmu dan keinginan anda</p>
                <p> </p>
                <div class="btn_main">
                  <div class="contact_bt active"><a href="#">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="banner_taital_main">
                <h1 class="banner_taital">Keliling<br><span style="color: #F28005;">Cirebon <br>Sekitarnya</span></h1>
                <p class="banner_text">Bareng kita aja, kita bisa temani kamu touring
                </p>
                <div class="btn_main">
                  <div class="contact_bt active"><a href="#">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="banner_taital_main">
                <h1 class="banner_taital">Butuh <br><span style="color: #F28005;">Mobil <br>& Travel?</span></h1>
                <p class="banner_text">Kita bisa bantu kamu mendapatkan sewa mobil anda</p>
                <div class="btn_main">
                  <div class="contact_bt active"><a href="#">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner_img"><img src="/assets/images/banner-img.png"></div>
      </div>
    </div>
  </div>
</div>
<!-- banner section end -->
<!-- about section start -->
<div class="about_section layout_padding" id="about">
  <div class="container">
    <div class="about_section_2">
      <div class="row">
        <div class="col-md-6">
          <div class="image_iman"><img src="/assets/images/about-img.png" class="about_img"></div>
        </div>
        <div class="col-md-6">
          <div class="about_taital_box">
            <h1 class="about_taital">Tentang Kami</h1>
            <p class="about_text"><span style="color: #F28005;">CV Setiadi Trans Jaya</span> adalah sebuah perusahaan yang bergerak di bidang jasa transportasi yang memiliki layanan seperti rental harian, charter, travel, tour, dan shuttle. Didukung oleh tenaga kerja kami yang profesional,menjadikan perjalanan kamu lebih menyenangkan dan akan merasa lebih nyaman. Ada berbagai macam pilihan unit kendaraan dan pilihan paket wisata seru yang bisa kamu pilih sesuai dengan kebutuhan kamu.
            </p>
            <div class="readmore_btn"><a href="#">Selengkapnya</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
<div class="search_section" id="cars">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="search_taital">Cari Mobil terbaik buat kamu</h1>
        <p class="search_text">Kita sediakan mobil terbaik demi kenyamanan kamu</p>
        <!-- select box section start -->
        <div class="container">
          <div class="select_box_section">
            <div class="select_box_main">
              <div class="row">
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Brand</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Model</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Harga</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <div class="search_btn"><a href="#">Cari</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- select box section end -->
      </div>
    </div>
  </div>
</div>
<!-- gallery section start -->
<div class="gallery_section layout_padding">
  <div class="container">
    <div class="gallery_section_2">
      <div class="row">
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_section_2">
      <div class="row">
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="/assets/images/img-1.png"></div>
            <h3 class="types_text">Toyota car</h3>
            <p class="text-center">Kapasitas 4 Orang</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 300K</p>
            <p class="text-center m-0">Mobil & Sopir</p>
            <p class="looking_text mb-4">Rp. 500K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a href="#">Pesan Sekarang</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- gallery section end -->
<!-- choose section start -->
<div class="choose_section layout_padding" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="choose_taital">Alasan Memilih Kami</h1>
      </div>
    </div>
    <div class="choose_section_2">
      <div class="row">
        <div class="col-sm-3">
          <h4 class="safety_text">Pilihan Lengkap</h4>
          <p class="ipsum_text">Kami menyediakan berbagai macam pilihan mobil terbaik dan paket wisata </p>
        </div>
        <div class="col-sm-3">
          <h4 class="safety_text">Harga Terjangkau</h4>
          <p class="ipsum_text">kami pastikan harga murah dan dapat dijangkau</p>
        </div>
        <div class="col-sm-3">
          <h4 class="safety_text">Online Booking 24 Jam</h4>
          <p class="ipsum_text">siap melayani selama 24 jam secara online</p>
        </div>
        <div class="col-sm-3">
          <h4 class="safety_text">Driver profesional</h4>
          <p class="ipsum_text">Kami memiliki driver yang profesional dan berpengalaman dibidangnya</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- choose section end -->
<!-- client section start -->
<div class="client_section layout_padding" id="customers">
  <div class="container">
    <div id="custom_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-12">
              <h1 class="client_taital">Testimoni</h1>
            </div>
          </div>
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-12">
              <h1 class="client_taital">Testimoni</h1>
            </div>
          </div>
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-12">
              <h1 class="client_taital">Testimoni</h1>
            </div>
          </div>
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- client section end -->


<!-- copyright section end -->
<!-- Javascript files-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.0.0.min.js"></script>
<script src="/assets/js/plugin.js"></script>
<!-- sidebar -->
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/js/custom.js"></script>