---
layout: default
---

<!-- header section end -->
<!-- <div class="call_text_main" id="home">
  <div class="container">
    <div class="call_taital">
      <div class="call_text"><a  href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
            class="padding_left_15">Jl.Cirebon</span></a></div>
      <div class="call_text"><a  href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
            class="padding_left_15">08522369417</span></a></div>
      <div class="call_text"><a  href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span
            class="padding_left_15">demo@gmail.com</span></a></div>
    </div>
  </div>
</div> -->
<!-- banner section start -->
<div class="banner_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="banner_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="banner_taital_main">
                <h2 class="banner_taital">Rental <br><span style="color: #F28005;">Mobil Harian</span></h2>
                <p class="banner_text">Cari disini mobil sesuai kebutuhanmu dan keinginan anda</p>
                <div class="btn_main">
                  <div class="contact_bt active"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="banner_taital_main">
                <h2 class="banner_taital">Keliling <br><span style="color: #F28005;">Cirebon & Sekitarnya</span></h2>
                <p class="banner_text">Bareng kita aja, kita bisa temani kamu touring
                </p>
                <div class="btn_main">
                  <div class="contact_bt active"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="banner_taital_main">
                <h2 class="banner_taital">Butuh <br><span style="color: #F28005;">Mobil & Travel?</span></h2>
                <p class="banner_text">Kita bisa bantu kamu mendapatkan sewa mobil anda</p>
                <div class="btn_main">
                  <div class="contact_bt active"><a  href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20mobil" target="_blank">Hubungi Kami</a></div>
                </div>
              </div>
            </div>
          </div>
          <a  class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a  class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner section end -->
<!-- about section start -->
<div class="about_section layout_padding" id="about">
  <div class="container">
    <div class="about_section_2">
      <div class="row">
        <div class="col-md-6">
          <div class="image_iman"><img  alt="about" src="/assets/images/about-img.png" class="about_img"></div>
        </div>
        <div class="col-md-6">
          <div class="about_taital_box">
            <h2 class="about_taital">Tentang Kami</h2>
            <p class="about_text"><span style="color: #F28005;">CV Setiadi Trans Jaya</span> adalah sebuah perusahaan yang bergerak di bidang jasa transportasi yang memiliki layanan seperti rental harian, charter, travel, tour, dan shuttle. Didukung oleh tenaga kerja kami yang profesional,menjadikan perjalanan kamu lebih menyenangkan dan akan merasa lebih nyaman. Ada berbagai macam pilihan unit kendaraan dan pilihan paket wisata seru yang bisa kamu pilih sesuai dengan kebutuhan kamu.
            </p>
            <!-- <div class="readmore_btn"><a  href="#">Selengkapnya</a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
<div class="search_section" id="cars">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="search_taital">Cari Mobil terbaik buat kamu</h2>
        <p class="search_text">Kita sediakan mobil terbaik demi kenyamanan kamu</p>
      </div>
    </div>
  </div>
</div>
<!-- gallery section start -->
<div class="gallery_section layout_padding">
  <div class="container">
    <div class="gallery_section_2">
      <div class="row">
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img  alt="Innova Reborn Diesel Matic" src="/assets/images/cars/Innova_reborn_diesel_manual.png"></div>
            <h3 class="types_text">Innova Reborn Diesel Matic</h3>
            <p class="text-center">Kapasitas 7 Kursi</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 600K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20Innova%20Reborn%20Diesel%20Matic" target="_blank">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img  alt="Innova Reborn Diesel Manual" src="/assets/images/cars/Innova_reborn_diesel_manual.png"></div>
            <h3 class="types_text">Innova Reborn Diesel Manual</h3>
            <p class="text-center">Kapasitas 7 Kursi</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 550K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20Innova%20Reborn%20Diesel%20Manual" target="_blank">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img  alt="New Xpander Matic" src="/assets/images/cars/new_xpander_matic.png"></div>
            <h3 class="types_text">New Xpander Matic<br>&nbsp;</h3>
            <p class="text-center">Kapasitas 7 Kursi</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 459K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20New%20Xpander%20Matic" target="_blank">Pesan Sekarang</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_section_2">
      <div class="row">
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img  alt="New Avanza 2023 Matic" src="/assets/images/cars/new_avanza_matic.png"></div>
            <h3 class="types_text">New Avanza 2023 Matic</h3>
            <p class="text-center">Kapasitas 7 Kursi</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 400K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20New%20Avanza%202023%20Matic" target="_blank">Pesan Sekarang</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img  alt="Mobilio Manual" src="/assets/images/cars/mobilio_manual.png"></div>
            <h3 class="types_text">Mobilio Manual<br>&nbsp;</h3>
            <p class="text-center">Kapasitas 7 Kursi</p>
            <hr>
            <p class="text-center m-0">Lepas Kunci</p>
            <p class="looking_text mb-4">Rp. 350K</p>
            <p class="text-center m-0">Jangka Panjang</p>
            <p class="looking_text">Hubungi Kami</p>
            <div class="read_bt"><a   href="https://wa.me/6287743623444?text=Halo%20saya%20mau%20sewa%20Mobilio%20Manual" target="_blank">Pesan Sekarang</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- gallery section end -->
<!-- choose section start -->
<div class="choose_section layout_padding" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="choose_taital">Alasan Memilih Kami</h2>
      </div>
    </div>
    <div class="choose_section_2">
      <div class="row">
        <div class="col-sm-4 mb-4">
          <div class="icon_1"><img src="/assets/images/icon-1.png" alt="icon-1" title="icon-1" /></div>
          <h3 class="safety_text">Pilihan Lengkap</h3>
          <p class="ipsum_text">Kami menyediakan berbagai macam pilihan mobil terbaik dan paket wisata </p>
        </div>
        <div class="col-sm-4 mb-4">
          <div class="icon_1"><img src="/assets/images/icon-2.png" alt="icon-2" title="icon-2" /></div>
          <h3 class="safety_text">Harga Terjangkau</h3>
          <p class="ipsum_text">kami pastikan harga murah dan dapat dijangkau</p>
        </div>
        <div class="col-sm-4 mb-4">
          <div class="icon_1"><img src="/assets/images/icon-3.png" alt="icon-2" title="icon-2" /></div>
          <h3 class="safety_text">Driver profesional</h3>
          <p class="ipsum_text">Kami memiliki driver yang profesional dan berpengalaman dibidangnya</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- choose section end -->
<!-- client section start -->
<div class="client_section layout_padding" id="customers">
  <div class="container">
    <div id="custom_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="row">
          <div class="col-md-12">
            <h2 class="client_taital">Testimoni</h2>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 1" src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 3" src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- <div class="row">
            <div class="col-md-12">
              <h1 class="client_taital">Testimoni</h1>
            </div>
          </div> -->
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 3" src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 4" src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- <div class="row">
            <div class="col-md-12">
              <h1 class="client_taital">Testimoni</h1>
            </div>
          </div> -->
          <div class="client_section_2">
            <div class="row">
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 5" src="/assets/images/client-img1.png"></div>
                  <h3 class="moark_text">Hannery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
              <div class="col-md-6">
                <div class="client_taital_box">
                  <div class="client_img"><img  alt="client 6" src="/assets/images/client-img2.png"></div>
                  <h3 class="moark_text">Channery</h3>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable
                    content of a page</p>
                </div>
                <div class="quick_icon"><img  alt="icon" src="/assets/images/quick-icon.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a  class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a  class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- client section end -->


<!-- copyright section end -->
<!-- Javascript files-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.0.0.min.js"></script>
<script src="/assets/js/plugin.js"></script>
<!-- sidebar -->
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/js/custom.js"></script>